.example-card {
  max-width: 400px;
  background-color: #bcbec0;
  /*
    background-color: dimgray;
  */
}

.example-full-width {
  max-height: 80px;
  width: 100%;
  height: 80%;
}

.logo {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 312px;
  height: 112px;
  z-index: 9999;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;

}

.mirage_logo_corto {
  width: 156px;
  height: 156px;
  background-repeat: no-repeat;
  background-position: left;
}
