<router-outlet></router-outlet>

<link rel="icon" href="../../../assets/logos/mirage_logo_solo.png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="../../Content/bootstrap.css" rel="stylesheet" />
<link href="../../Content/Site.css" rel="stylesheet" />

<script src="../../Content/Scripts/modernizr-*"></script>
<script src="../../Content/Scripts/jquery-{version}.js"></script>
<script src="../../Content/Scripts/jquery.validate*"></script>
<script src="../../Content/Scripts/bootstrap.js"></script>

<!-- CONTENEDOR PRINCIPAL -->
<div class="container" style="text-align:center;">
  <div class="row">
    <div class="col"></div>
    <div class="col">

      <div>

        <img src="../../../assets/logos/mirage_logo_corto.png" class="mirage_logo_corto" />

      </div>

      <br />

      <!-- SECCION PRINCIPAL: VENTANA LOGIN -->
      <div class="row" *ngIf="isVentanaLogin">
        <div class="col"></div>

        <div class="col">
          <div class="row">
           
            <!-- MAT-CARD CON COMPONENTES DE VENTANA LOGIN -->
            <mat-card class="example-card" style="width:400px;">

              <!-- TITULO -->
              <mat-card-header>
                <mat-card-title><h6 style="font-size: 15px; color: #414042;">Sign in to start your session <br /></h6></mat-card-title>
              </mat-card-header>

              <mat-divider></mat-divider><br />

              <!-- TEXT BOXES INPUT -->
              <mat-card-content>
                <div class="row">
                  <div class="col"></div>
                  <div class="col">

                    <!-- TEXT INPUT: EMAIL, PASSWORD -->
                    <div class="row" style="width:300px;">

                      <!-- TEXT INPUT: EMAIL, PASSWORD -->
                      <div class="col">

                        <br />

                        <input type="email" class="form-control" [(ngModel)]="_Email"
                               placeholder="Email" autocomplete="off"
                               style="width: 300px; height: 50px; margin-top: -10px;
                                      margin-left:-20px; background-color:#fffffffa;" />

                        <br /><br />

                        <input type="password" class="form-control" [(ngModel)]="_Password"
                               placeholder="Password" autocomplete="off"
                               style="width: 300px; height: 50px; margin-top: -10px;
                                      margin-left:-20px; background-color:#fffffffa;" />

                        <br />

                      </div>

                      <!-- TEXT INPUT: EMAIL ( se pido cambiarlo por inputs de arriba ) -->
                      <mat-form-field class="example-full-width" hidden>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="user@example.com" type="email"
                               [(ngModel)]="_Email" autocomplete="off"
                               style="margin-top:-10px;">
                      </mat-form-field>

                      <!-- TEXT INPUT: PASSWORD ( se pido cambiarlo por inputs de arriba ) -->
                      <mat-form-field class="example-full-width" hidden>
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password"
                               [(ngModel)]="_Password" autocomplete="off"
                               style="margin-top:-10px;">>
                      </mat-form-field>

                    </div>

                    <!-- CHECK INPUT: REMEMBER ME -->
                    <div class="row" style="width: 300px;">
                      <mat-checkbox class="example-margin" [(ngModel)]="_RememberMe"
                                    disabled="{{ isChkRememberMe }}"><p style=" margin-top:15px; color:#414042;">Remember Me</p>
                      </mat-checkbox>
                    </div>

                  </div>
                  <div class="col"></div>
                </div>
              </mat-card-content>

              <!-- BUTTON: LOGIN -->
              <mat-card-actions>
                <button mat-raised-button
                        style="width:100%; background-color:#ad1a1a;"
                        (click)="btnLogin_OnCLick();" disabled="{{ isBtnLogin }}">
                  Login
                </button>
              </mat-card-actions>

              <mat-divider></mat-divider>

              <!-- BUTTON: FORGOT PASSWORD -->
              <mat-card-footer>
                <button mat-button color="disabled"
                        (click)="switchVentanas(2);" style="color:#414042;">Forgot your password?</button>
              </mat-card-footer>

            </mat-card>

          </div>
        </div>

        <div class="col"></div>
      </div>

      <!-- SECCION PRINCIPAL: VENTANA FORGOT PASSWORD -->
      <div class="row" *ngIf="isVentanaForgotPassword">
        <div class="col"></div>

        <div class="col">
          <div class="row">

            <!-- MAT-CARD CON COMPONENTES DE VENTANA FORGOT PASSWORD -->
            <mat-card class="example-card" style="width:400px;">

              <!-- TITULO -->
              <mat-card-header>
                <mat-card-title><p style="font-size: 15px; color: #414042;">Enter your Email<br /></p></mat-card-title>
              </mat-card-header>

              <mat-divider></mat-divider><br />

              <!-- TEXT BOXES INPUT -->
              <mat-card-content>
                <div class="row">
                  <div class="col"></div>
                  <div class="col">

                    <!-- TEXT INPUT: EMAIL -->
                    <div class="row" style="width:300px;">

                      <!-- TEXT INPUT: EMAIL -->
                      <div class="col">

                        <br />

                        <input type="email" class="form-control" [(ngModel)]="_Email"
                               placeholder="Email user@domain.com" autocomplete="off"
                               style="width: 300px; height: 50px; margin-top: -10px;
                                      margin-left:-20px; background-color:#fffffffa;" />

                        <br />

                      </div>

                      <!-- TEXT INPUT: EMAIL ( se pidio cambiarse por input de arriba ) -->
                      <mat-form-field class="example-full-width" hidden>
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="user@example.com" [(ngModel)]="_Email"
                               autocomplete="off" style="margin-top:-10px;">
                      </mat-form-field>


                    </div>

                  </div>
                  <div class="col"></div>
                </div>
              </mat-card-content>

              <!-- BUTTON: FORGOT PASSWORD -->
              <mat-card-actions>
                <button mat-raised-button color="warn"
                        style="width:100%; background-color:#ad1a1a;"
                        (click)="btnForgotPassword_OnCLick();"
                        disabled="{{ isBtnLogin }}">Email Link</button>
              </mat-card-actions>

              <mat-divider></mat-divider>

              <!-- BUTTON: BACK TO LOGIN -->
              <mat-card-footer>
                <button mat-button color="disabled"
                        (click)="switchVentanas(1);"
                        style="color:#414042;">Back to Login</button>
              </mat-card-footer>

            </mat-card>

          </div>
        </div>

        <div class="col"></div>
      </div>

    </div>

    <div class="col"></div>
  </div>
</div>
