<style>
  .form-group {
    margin-bottom: .5rem;
  }
  mat-form-field.mat-form-field {
    background-color: white !important;
  }


</style>
<div class="mb-3">
  <button class="btn btn-secondary w-100" *ngIf="!employeeNew" (click)="onEmployeeNew()">Nuevo</button>
  <button class="btn btn-secondary w-100" *ngIf="employeeNew" (click)="onBack()">Regresar</button>
</div>

<!-- Lista de empleados -->
<section class="row">
  <div class="container-fluid mt-4" *ngIf="!employeeNew">
    <h2 class="text-center mb-4">Lista de empleados</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">RFC</th>
            <th class="text-center">Cumpleaños</th>
            <th class="text-center">Tipo de empleado</th>
            <th class="text-center">Horas semana</th>
            <th class="text-center">Salario percibido</th>
            <th class="text-center"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td class="text-center">{{employee.firstName}} {{employee.lastName}} {{employee.middleName}}</td>
            <td class="text-center">{{employee.rfc}}</td>
            <td class="text-center">{{employee.dateOfBirth | date:'dd/MM/yyyy'}}</td>
            <td class="text-center">{{employee.employeeType}}</td>
            <td class="text-center">{{employee.hoursWorkedPerWeek}}</td>
            <td class="text-center">{{employee.salaryReceived | currency:'MXN':'symbol'}}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <button class="btn btn-primary" (click)="onEditEmployee(employee)">
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-danger" (click)="onDeleteEmployee(employee.id)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Formulario -->
<section class="row">
  <div class="container-fluid mt-4" *ngIf="employeeNew">
    <h2 *ngIf="!isEdit" class="text-center mb-4">Registro de empleado</h2>
    <h2 *ngIf="isEdit" class="text-center mb-4">Editar de empleado</h2>

    <div class="form-group col-12 ">
      <label maxlength="50" class="form_label" for="firstName">Primer nombre</label>
      <input id="firstName" [(ngModel)]="employeModel.firstName" type="text" class="form-control " placeholder="Ingrese el primer nombre">
    </div>

    <div class="form-group col-12 ">
      <label maxlength="50" class="form_label" for="lastName">Apellido</label>
      <input id="lastName" [(ngModel)]="employeModel.lastName" type="text" class="form-control " placeholder="Ingrese el apellido">
    </div>

    <div class="form-group col-12 ">
      <label maxlength="50" class="form_label" for="middleName">Segundo apellido</label>
      <input id="middleName" [(ngModel)]="employeModel.middleName" type="text" class="form-control " placeholder="Ingrese el segundo nombre">
    </div>

    <div class="form-group col-12">
      <label class="form_label" for="rfc">RFC</label>
      <input maxlength="13" id="rfc" [(ngModel)]="employeModel.rfc" type="text" class="form-control " placeholder="Ingrese el RFC">
    </div>

    <div class="form-group col-12">
      <label class="form_label">Fecha de nacimiento</label>
      <mat-form-field appearance="outline" class="w-100">
        <input matInput [matDatepicker]="DatePicker" [(ngModel)]="employeModel.dateOfBirth" [disabled]="false">
        <mat-datepicker-toggle matSuffix [for]="DatePicker"></mat-datepicker-toggle>
        <mat-datepicker #DatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-group col-12 ">
      <label for="employeeType">Tipo de empleado</label>
      <select id="employeeType" [(ngModel)]="employeModel.employeeType" class="form-control w-100">
        <option value="" disabled selected>---SELECCIONAR---</option>
        <option *ngFor="let type of employeeTypes" [value]="type.value">{{ type.value }}</option>
      </select>
    </div>

    <div class="form-group col-12 ">
      <label class="form_label" for="hourlySalary">Salario por hora</label>
      <input id="hourlySalary" [(ngModel)]="employeModel.hourlySalary" type="number" class="form-control w-100" placeholder="Ingrese el salario por hora">
    </div>

    <div class="form-group col-12 ">
      <label class="form_label" for="hoursWorkedPerWeek">Horas trabajadas por semana</label>
      <input id="hoursWorkedPerWeek" [(ngModel)]="employeModel.hoursWorkedPerWeek" type="number" class="form-control w-100" placeholder="Ingrese las horas trabajadas por semana">
    </div>

    <div class="form-group mb-3 mt-3 d-flex">
      <button class="btn btn-primary w-100" (click)="onSaveEmployee()">Guardar</button>
    </div>
    <div class="form-group mb-3 mt-3 d-flex">
      <button class="btn btn-secondary w-100" (click)="onCancel()">Cancelar</button>
    </div>
  </div>
</section>

