<!-- SECCION: FILTROS -->
<div style="background-color:#bcbec0;">
  <mat-card style="background-color:#e6e7e8;">

    <!-- PANEL HEADER: HEADER CON TITULO DE SECCION Y BOTON PARA CERRAR VENTANA -->
    <mat-card-header style="font-size:16px; opacity:1;">

      <div class="row" style="width:100%;">

        <div class="col">

          <i style="color:#414042;" class="fa fa-user w3-large">
          </i>&nbsp;<strong style="color:#414042;">Role</strong>

        </div>

        <div class="col"></div>

        <div class="col" style="text-align:right;">

          <!-- BOTON: CERRAR VENTANA -->
          <button mat-mini-fab
                  style="width: 32px; height: 32px; margin-top: -10px;
                         margin-right: -30px; background-color:#ad1a1a;
                         color:white;"
                  matTooltip="Close window"
                  (click)="Close();">
            <i class="fa fa-close w3-small"></i>
          </button>

        </div>

      </div>

    </mat-card-header>

    <br />

    <mat-card-content>

      <div class="row">
        <div class="col">

          <mat-tab-group [backgroundColor]="'accent'" [color]="'warn'">

            <!-- SECCION: ROL INFO -->
            <mat-tab label="Rol Info">

              <table style="height:340px;">

                <!-- CAMPOS: DATOS DE LA VENTANA -->
                <tr>

                  <!-- COLUMNA #01 -->
                  <td valign="top">

                    <table>
                      <tr><td><br /></td></tr>


                      <!--
                      <tr><td><strong>First Name </strong></td><td><mat-form-field appearance="fill" style="margin-top: 20px; height: 50px; font-size: 13px; "
                                                                                  class="dense-5 example-full-width">
                                                                    <input matInput placeholder="1234" [(ngModel)] ="_FirstName" [disabled]="!_IsEnabledFields"
                                                                            style="margin-top:15px;">
                                                                  </mat-form-field>
                                                            </td>
                      </tr>
                      -->

                      <tr><td><i class="fa fa-id-card-o"></i>&nbsp;<strong>Rol Id </strong></td>  <td><input class="form-control" style="width:180px;" value="{{ _RolId }}" disabled /></td></tr>
                      <br />
                      <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>Rol Name </strong></td>   <td><input class="form-control" style="width:180px;" [(ngModel)]="_Rol" [disabled]="!_IsEnabledFields" /></td></tr>
                      <br />

                    </table>

                  </td>

                  <!-- COLUMNA #02 -->
                  <td valign="top">

                    <table style="margin-left:20px;">
                      <tr><td><br /></td></tr>

                      <tr>
                        <td valign="top"><i class="fa fa-users"></i>&nbsp;<strong>Users: </strong></td>

                        <td>

                          @for ( actualRow of dtDatosUsers; track actualRow ){

                              &nbsp;&nbsp;<i class="fa fa-check-square"></i>&nbsp;<strong style="color:black; opacity:0.9; font-size:15px;">{{ actualRow.RES_USUARIOS }}</strong>

                              <br />

                          }

                        </td>

                      </tr>

                      <br />

                    </table>

                    <!-- BOTONES: GUARDAR DATOS, LIMPIAR CAMPOS -->
                    <div class="row" style="margin-left:40px; margin-top:75px;">

                      <!-- BOTON: GUARDAR DATOS -->
                      <button mat-flat-button
                              style="margin-right: 10px; width: 100px;
                                     background-color:#ad1a1a;"
                              matTooltip="Save Data"
                              disabled="{{ !_IsBtnGuardar }}"
                              (click)="BtnGuardar_OnClick( 0 );">
                        <i class="fa fa-save"></i> Save
                      </button>

                      <!-- BOTON: LIMPIAR CAMPOS -->
                      <button mat-flat-button
                              style="margin-right: -60px; width: 100px;
                                     background-color:#bcbec0;
                                     color:#414042;"
                              matTooltip="Clear Fields"
                              disabled="{{ !_IsBtnLimpiar }}"
                              (click)="BtnLimpiar_OnClick( 0 );">
                        <i class="fa fa-eraser"></i> Clear
                      </button>

                    </div>

                  </td>

                </tr>

              </table>

            </mat-tab>

            <!-- SECCION: PERMISSIONS y REQUESTS -->
            <mat-tab label="Permissions and Requests">

              <!-- CAMPOS: DATOS DE LA VENTANA -->
              <div class="row" style="width:620px;">
                <div class="col" style="height:340px;">

                  <!-- COLUMNAS #01: PERMISSIONS / REQUESTS -->
                  <div class="row">

                    <!-- COLUMNA #01: PERMISSIONS -->
                    <div class="col">

                      <div class="row" style="text-align: center;">

                        <strong style="font-size:15px;"><br /><i class="fa fa-address-book"></i>&nbsp;Permissions</strong>

                      </div>

                      <div class="row">

                        <div class="col" style="overflow-y: scroll; height:250px;">

                          <!-- COLUMNA #01: PERMISSIONS -->
                          <table>
                            <tr>

                              <td valign="top">

                                <table style="color:black;">


                                  <!-- VISTA DE MENUS/PERMISOS ESTILO ARBOL -->
                                  @for ( actualRow of dtPermissions; track actualRow ){

                                      @if ( actualRow.RES_MENU_PARENT_ID == 0 ){

	                                      <mat-checkbox class="example-margin"
                                                      color="warn"
                                                      [disabled]="!_IsEnabledFields"
                                                      (change)="chkPermissions_OnChange($event, actualRow.RES_MENU_ID, true, actualRow.RES_MENU_ID)"
                                                      [checked]="( actualRow.Permission == true ? true : false )">

                                            <strong style="color:black; opacity:0.75; font-size:14px;"><i class="{{ actualRow.RES_MENU_ICON }}"></i>&nbsp;{{ actualRow.RES_MENU_NOMBRE }}</strong>


                                        </mat-checkbox>

                                        <br />
	
	                                        <!-- SUB-MENUS -->
	                                        @for ( actualSubRow of dtPermissions; track actualSubRow ){

		                                          @if ( actualSubRow.RES_MENU_PARENT_ID == actualRow.RES_MENU_ID ){

			                                          <mat-checkbox class="example-margin"
                                                              style="margin-left:25px;"
                                                              color="warn"
                                                              [disabled]="!_IsEnabledFields"
                                                              (change)="chkPermissions_OnChange($event, actualSubRow.RES_MENU_ID, false, 0)"
                                                              [checked]="( actualSubRow.Permission == true ? true : false )">

                                                    <strong style="color:black; opacity:0.75; font-size:14px;"><i class="{{ actualSubRow.RES_MENU_ICON }}"></i>&nbsp;{{ actualSubRow.RES_MENU_NOMBRE }}</strong>

                                                </mat-checkbox>

                                                <br />

		                                          }

	                                        }

                                      }                                  

                                  }

                                </table>

                              </td>

                            </tr>
                          </table>

                        </div>

                      </div>

                    </div>

                    <!-- COLUMNA #02: REQUESTS -->
                    <div class="col">

                      <div class="row" style="text-align:center;">

                        <strong style="font-size:15px;"><br /><i class="fa fa-cube"></i>&nbsp;Requests</strong>

                      </div>

                      <div class="row">

                        <div class="col" style="overflow-y: scroll; height:150px;">

                          <!-- COLUMNA #02: REQUESTS -->
                          <table>
                            <tr>

                              <td valign="top">

                                <table>

                                  @for ( actualRow of dtRequests; track actualRow ){

                                  <mat-checkbox class="example-margin"
                                                color="warn"
                                                [disabled]="!_IsEnabledFields"
                                                (change)="chkRequests_OnChange($event, actualRow.RES_REQUEST_DESCRIPCION)"
                                                [checked]=" ( actualRow.RES_ACTIVO == 1 ? true : false )">

                                    <strong style="color:black; opacity:0.75; font-size:14px;">{{ actualRow.RES_REQUEST_DESCRIPCION }}</strong>

                                  </mat-checkbox>
                                  <br />

                                  }

                                </table>

                              </td>

                            </tr>
                          </table>

                        </div>

                      </div>

                    </div>

                  </div>

                  <!-- BOTONES: GUARDAR DATOS, LIMPIAR CAMPOS -->
                  <div class="row" style="margin-left:350px;">

                    <!-- BOTON: GUARDAR DATOS -->
                    <button mat-flat-button
                            style="margin-right: 10px; width: 100px;
                                   background-color:#ad1a1a;"
                            matTooltip="Save Data"
                            disabled="{{ !_IsBtnGuardar }}"
                            (click)="BtnGuardar_OnClick( 1 );">
                      <i class="fa fa-save"></i> Save
                    </button>

                    <!-- BOTON: LIMPIAR CAMPOS -->
                    <button mat-flat-button
                            style="margin-right: -60px; width: 100px;
                                   background-color:#bcbec0;
                                   color:#414042;"
                            matTooltip="Clear Fields"
                            disabled="{{ !_IsBtnLimpiar }}"
                            (click)="BtnLimpiar_OnClick( 1 );">
                      <i class="fa fa-eraser"></i> Clear
                    </button>

                  </div>

                </div>
              </div>
              
            </mat-tab>

          </mat-tab-group>         

        </div>
      </div>

    </mat-card-content>


  </mat-card>
</div>
