<router-outlet></router-outlet>

<link rel="icon" href="../../../assets/logos/mirage_logo_solo.png">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="../../Content/bootstrap.css" rel="stylesheet" />
<link href="../../Content/Site.css" rel="stylesheet" />

<!-- Sweet-Alert  -->
<link   href="../../Content/sweetalert2.min.css" rel="stylesheet" />
<script src="../../Content/Scripts/sweetalert2.min.js"></script>

<script src="../../Content/Scripts/modernizr-*"></script>
<script src="../../Content/Scripts/jquery-{version}.js"></script>
<script src="../../Content/Scripts/jquery.validate*"></script>
<script src="../../Content/Scripts/bootstrap.js"></script>

<!-- CONTENEDOR PRINCIPAL -->
<div class="container" style="text-align:left;">
  <div class="row">

    <div class="container body-content">

      <div class="form-horizontal" style="margin-top: 35px;">

        <!-- CONTENEDOR #01: GENERADOR CERTIFICADO DE GARANTIA -->
        @if( !IsResendCertificate ) {

          <div class="container form-group" style="padding-left: 10px; color:black; font-family:Helvetica;"
               id="contenedor_generator">

            <br />

            <!-- PRODUCT INFO -->
            <h6 style="margin-bottom:-5px; margin-left:13px; font-size:16px;"><strong>Product Type</strong></h6>

            <br />

            <div class="row justify-content-md-start" style="padding-left:10px">

              <div class="col-md-5">

                <input type="radio" id="MiniSplit" name="Tipo" [checked]="_Tipo == 0"
                       (click)="optRadio_Click(0)" />
                <label for="MiniSplit">&nbsp;Mini Split</label>

                <br />

                <input type="radio" id="Multizone" name="Tipo" [checked]="_Tipo == 1"
                       (click)="optRadio_Click(1)" />
                <label for="Multizone">&nbsp;Multizone</label>

                <br />

                <input type="radio" id="Alpha" name="Tipo" [checked]="_Tipo == 2"
                       (click)="optRadio_Click(2)" />
                <label for="Alpha">&nbsp;Alpha</label>

              </div>

            </div>

            <br />

            <!-- FILA:  Outdoor Serial Number,
                  Indoor Serial Number,
                  Multizone Indoor #1,
                  Multizone Indoor #2,
                  Multizone Indoor #3,
                  Multizone Indoor #4,
                  Multizone Indoor #5
            -->
            <div class="row justify-content-md-start" style="padding-left:15px">

              <div class="col-md-4">

                <label class="control-label col-md-10"
                       style="font-weight: lighter; font-size: 14px; font-family: Arial;">Outdoor Unit Serial Number </label>
                <input type="text" class="form-control" [(ngModel)]="_OutdoorUnitSerialNumber"
                       id="OutdoorUnitSerialNumber"
                       (blur)=" onCheckSerialError($event,'valInputOutdoor_SerialError','Outdoor');
                                onCheckRequried($event,'valInputOutdoor_Required');
                                onCheckMaxLength($event,'valInputOutdoor_MaxLength',50)"
                       placeholder="Outdoor Serial No." style="height: 30px;"
                       tabindex=1 />
                <strong class="text-danger" id="valInputOutdoor_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                <strong class="text-danger" id="valInputOutdoor_Required" style="display:none;">{{ asError_Required }}</strong>
                <strong class="text-danger" id="valInputOutdoor_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>

              </div>

              <div class="col-md-4">

                @if ( _Tipo != 1 ){

                <div>

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Indoor Unit Serial Number</label>
                  <input type="text" class="form-control" [(ngModel)]="_IndoorUnitSerialNumber"
                         id="IndoorUnitSerialNumber"
                         (blur)=" onCheckSerialError($event,'valInputIndoor_SerialError','Indoor');
                                    onCheckRequried($event,'valInputIndoor_Required');
                                    onCheckMaxLength($event,'valInputIndoor_MaxLength',50)"
                         placeholder="Intdoor Serial No." style="height: 30px;"
                         tabindex=2 />
                  <strong class="text-danger" id="valInputIndoor_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valInputIndoor_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valInputIndoor_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>

                </div>

                }

                @if ( _Tipo == 1 ){

                <div>

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Multi Zone Indoor #1</label>
                  <input type="text" class="form-control" [(ngModel)]="_MultiZoneIndoor_1"
                         id="MultiZoneIndoor_1"
                         (blur)=" onCheckSerialError($event,'valMultiZoneIndoor_1_SerialError','Indoor');
                                    onCheckRequried($event,'valMultiZoneIndoor_1_Required');
                                    onCheckMaxLength($event,'valMultiZoneIndoor_1_MaxLength',50)"
                         placeholder="Indoor/Duct/Cassette Serial No." style="height: 30px;"
                         tabindex=3 />
                  <strong class="text-danger" id="valMultiZoneIndoor_1_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_1_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_1_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  <br />

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Multi Zone Indoor #2</label>
                  <input type="text" class="form-control" [(ngModel)]="_MultiZoneIndoor_2"
                         id="MultiZoneIndoor_2"
                         (blur)=" onCheckSerialError($event,'valMultiZoneIndoor_2_SerialError','Indoor');
                                    onCheckMaxLength($event,'valMultiZoneIndoor_2_MaxLength',50)"
                         placeholder="Indoor/Duct/Cassette Serial No." style="height: 30px;"
                         tabindex=4 />
                  <strong class="text-danger" id="valMultiZoneIndoor_2_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_2_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  <br />

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Multi Zone Indoor #3</label>
                  <input type="text" class="form-control" [(ngModel)]="_MultiZoneIndoor_3"
                         id="MultiZoneIndoor_3"
                         (blur)=" onCheckSerialError($event,'valMultiZoneIndoor_3_SerialError','Indoor');
                                    onCheckMaxLength($event,'valMultiZoneIndoor_3_MaxLength',50)"
                         placeholder="Indoor/Duct/Cassette Serial No." style="height: 30px;"
                         tabindex=5 />
                  <strong class="text-danger" id="valMultiZoneIndoor_3_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_3_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  <br />

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Multi Zone Indoor #4</label>
                  <input type="text" class="form-control" [(ngModel)]="_MultiZoneIndoor_4"
                         id="MultiZoneIndoor_4"
                         (blur)=" onCheckSerialError($event,'valMultiZoneIndoor_4_SerialError','Indoor');
                                    onCheckMaxLength($event,'valMultiZoneIndoor_4_MaxLength',50)"
                         placeholder="Indoor/Duct/Cassette Serial No." style="height: 30px;"
                         tabindex=6 />
                  <strong class="text-danger" id="valMultiZoneIndoor_4_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_4_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  <br />

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Multi Zone Indoor #5</label>
                  <input type="text" class="form-control" [(ngModel)]="_MultiZoneIndoor_5"
                         id="MultiZoneIndoor_5"
                         (blur)=" onCheckSerialError($event,'valMultiZoneIndoor_5_SerialError','Indoor');
                                    onCheckMaxLength($event,'valMultiZoneIndoor_5_MaxLength',50)"
                         placeholder="Indoor/Duct/Cassette Serial No." style="height: 30px;"
                         tabindex=7 />
                  <strong class="text-danger" id="valMultiZoneIndoor_5_SerialError" style="display:none;">{{ asError_Serial }}</strong>
                  <strong class="text-danger" id="valMultiZoneIndoor_5_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  <br />

                </div>

                }

              </div>

            </div>

            <br />

            <!-- CUSTOMER INFO -->
            <div class="row justify-content-md-start">

              <div class="col-md-8">

                <hr style="border-top: 2px solid rgba(0, 0, 0, 0.8);" />
                <h6 style="margin-bottom:-5px; margin-left:13px; font-size:16px;"><strong>Customer Info</strong></h6>

              </div>

            </div>

            <br />

            <!-- FILA: Campos Customer Info -->
            <div class="row justify-content-md-start" style="padding-left:15px">

              <div class="col-md-4">

                <label class="control-label col-md-10"
                       style="font-weight: lighter; font-size: 14px; font-family: Arial;">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="_Customer_FirstName"
                       id="Customer_FirstName"
                       (blur)=" onCheckRequried($event,'valCustomer_FirstName_Required');
                                  onCheckMaxLength($event,'valCustomer_FirstName_MaxLength',50)"
                       style="height: 30px;" tabindex=8 />
                <strong class="text-danger" id="valCustomer_FirstName_Required" style="display:none;">{{ asError_Required }}</strong>
                <strong class="text-danger" id="valCustomer_FirstName_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                <div style="margin-top:15px;">

                  <div>

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;">Adress</label>
                    <input type="text" class="form-control" [(ngModel)]="_Customer_Address_1"
                           id="Customer_Address_1"
                           (blur)=" onCheckRequried($event,'valCustomer_Address_1_Required');
                                      onCheckMaxLength($event,'valCustomer_Address_1_MaxLength',150)"
                           style="height: 30px;" tabindex=10 />
                    <strong class="text-danger" id="valCustomer_Address_1_Required" style="display:none;">{{ asError_Required }}</strong>
                    <strong class="text-danger" id="valCustomer_Address_1_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>

                  </div>

                  <div style="margin-top:-8px;">

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;"></label>
                    <input type="text" class="form-control" [(ngModel)]="_Customer_Address_2"
                           id="Customer_Address_2"
                           (blur)="onCheckMaxLength($event,'valCustomer_Address_2_MaxLength',150)"
                           style="height: 30px;" tabindex=11 />
                    <strong class="text-danger" id="valCustomer_Address_2_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  </div>

                </div>

                <div style="margin-top:15px;">

                  <label class="control-label col-md-5"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">State</label>
                  <select class="form-control valid" [(ngModel)]="_Customer_State"
                          id="Customer_State"
                          (blur)="onCheckRequried($event,'valCustomer_State_Required')"
                          style="height: 30px; background-color: #f1f1f1;"
                          tabindex=13>

                    <option value="" selected="selected">Select one</option>

                    @for ( actualRow of dtStates; track actualRow ){

                    <option (value)="actualRow.value">{{ actualRow.value }}</option>

                    }

                  </select>
                  <strong class="text-danger" id="valCustomer_State_Required" style="display:none;">{{ asError_Required }}</strong>

                </div>

                <div style="margin-top:15px;">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Email Address</label>
                  <input type="text" class="form-control" [(ngModel)]="_Customer_EmailAddress"
                         id="Customer_EmailAddress"
                         (blur)=" onCheckRequried($event,'valCustomer_EmailAddress_Required');
                                  onCheckMaxLength($event,'valCustomer_EmailAddress_MaxLength',50);
                                  onCheckEmail($event,'valCustomer_EmailAddress_Email')"
                         style="height: 30px;" tabindex=15 />
                  <strong class="text-danger" id="valCustomer_EmailAddress_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valCustomer_EmailAddress_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>
                  <strong class="text-danger" id="valCustomer_EmailAddress_Email" style="display:none;">{{ asError_Email }}</strong>

                </div>

              </div>

              <div class="col-md-3" style="margin-top:-2px;">

                <label class="control-label col-md-10"
                       style="font-weight: lighter; font-size: 14px; font-family: Arial;">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="_Customer_LastName"
                       id="Customer_LastName"
                       (blur)=" onCheckRequried($event,'valCustomer_LastName_Required');
                                  onCheckMaxLength($event,'valCustomer_LastName_MaxLength',50)"
                       style="height: 30px;" tabindex=9 />
                <strong class="text-danger" id="valCustomer_LastName_Required" style="display:none;">{{ asError_Required }}</strong>
                <strong class="text-danger" id="valCustomer_LastName_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>

                <div style="margin-top:17px;">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Zip Code</label>
                  <input type="text" class="form-control" [(ngModel)]="_Customer_ZipCode"
                         id="Customer_ZipCode"
                         (blur)=" onCheckRequried($event,'valCustomer_ZipCode_Required');
                                    onCheckMaxLength($event,'valCustomer_ZipCode_MaxLength',10)"
                         style="height: 30px;" tabindex=12 />
                  <strong class="text-danger" id="valCustomer_ZipCode_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valCustomer_ZipCode_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>

                </div>

                <br />
                <br />
                <br />

                <div style="margin-top:-4px;">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">City</label>
                  <input type="text" class="form-control" [(ngModel)]="_Customer_City"
                         id="Customer_City"
                         (blur)=" onCheckRequried($event,'valCustomer_City_Required');
                                    onCheckMaxLength($event,'valCustomer_City_MaxLength',50)"
                         style="height: 30px;" tabindex=14 />
                  <strong class="text-danger" id="valCustomer_City_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valCustomer_City_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                </div>

                <div style="margin-top:15px;">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Phone Number</label>
                  <input type="text" class="form-control" [(ngModel)]="_Customer_PhoneNumber"
                         id="Customer_PhoneNumber"
                         (blur)=" onCheckRequried($event,'valCustomer_PhoneNumber_Required');
                                  onCheckMaxLength($event,'valCustomer_PhoneNumber_MaxLength',20)"
                         style="height: 30px;" tabindex=16 />
                  <!-- onCheckPhone($event,'valCustomer_PhoneNumber_Format') -->
                  <strong class="text-danger" id="valCustomer_PhoneNumber_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valCustomer_PhoneNumber_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>
                  <strong class="text-danger" id="valCustomer_PhoneNumber_Format" style="display:none;">{{ asError_Phone }}</strong>

                </div>

              </div>

            </div>

            <br />

            <!-- DEALER INFO -->
            <div class="row justify-content-md-start">

              <div class="col-md-8">

                <hr style="border-top: 2px solid rgba(0, 0, 0, 0.8);" />
                <h6 style="margin-bottom:-5px; margin-left:13px; font-size:16px;"><strong>Dealer / Installer Info</strong></h6>

              </div>

            </div>


            <!-- FILA:  Date installed,
                        Dealer / Contractor
            -->
            <div class="row justify-content-md-start" style="margin-top:15px;">

              <div class="col-md-4">

                <div class="col-md-12">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Date Installed</label>
                  <input type="date" class="form-control datetimepicker" [(ngModel)]="_Dealer_DateInstalled"
                         id="Dealer_DateInstalled"
                         (blur)=" onCheckRequried($event,'valDealer_DateInstalled_Required');
                                    onCheckMaxLength($event,'valDealer_DateInstalled_MaxLength',50)"
                         style="height: 30px;" language="en" tabindex=17 />
                  <strong class="text-danger" id="valDealer_DateInstalled_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valDealer_DateInstalled_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                </div>

                <div class="col-md-12" style="margin-top:15px;">

                  <label class="control-label col-md-10"
                         style="font-weight: lighter; font-size: 14px; font-family: Arial;">Dealer / Contractor</label>
                  <input type="text" class="form-control" [(ngModel)]="_Dealer_ContractorName"
                         id="Dealer_ContractorName"
                         (blur)=" onCheckRequried($event,'valDealer_ContractorName_Required');
                                    onCheckMaxLength($event,'valDealer_ContractorName_MaxLength',150)"
                         style="height: 30px;" tabindex=19 />
                  <strong class="text-danger" id="valDealer_ContractorName_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valDealer_ContractorName_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                </div>

              </div>

              <div class="col-md-4" style="padding-left:25px">

                <label class="control-label col-md-10"
                       style="font-weight: lighter; font-size: 14px; font-family: Arial;">Purchase Date</label>
                <input type="date" class="form-control datetimepicker" [(ngModel)]="_Dealer_PurchaseDate"
                       id="Dealer_PurchaseDate"
                       (blur)=" onCheckRequried($event,'valDealer_PurchaseDate_Required');
                                  onCheckMaxLength($event,'valDealer_PurchaseDate_MaxLength',50)"
                       style="height: 30px;" language="en" tabindex=18 />
                <strong class="text-danger" id="valDealer_PurchaseDate_Required" style="display:none;">{{ asError_Required }}</strong>
                <strong class="text-danger" id="valDealer_PurchaseDate_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


              </div>

            </div>

            <br />

            <!-- FILA:  Technician / Installer,
                        HVAC License,
                        Installer email adress
                        Installer Phone
            -->
            <div class="row justify-content-md-start" style="margin-top:15px;">
              <div class="row justify-content-md-start" style="margin-top:15px;">

                <div class="col-md-4">

                  <div class="col-md-12">

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;">Technician / Installer</label>
                    <input type="text" class="form-control" [(ngModel)]="_Dealer_TechnicianInstallerName"
                           id="Dealer_TechnicianInstallerName"
                           (blur)=" onCheckRequried($event,'valDealer_TechnicianInstallerName_Required');
                                    onCheckMaxLength($event,'valDealer_TechnicianInstallerName_MaxLength',100)"
                           style="height: 30px;" tabindex=20 />
                    <strong class="text-danger" id="valDealer_TechnicianInstallerName_Required" style="display:none;">{{ asError_Required }}</strong>
                    <strong class="text-danger" id="valDealer_TechnicianInstallerName_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  </div>

                  <div class="col-md-12" style="margin-top:15px;">

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;">Installer Email Address</label>
                    <input type="text" class="form-control" [(ngModel)]="_Dealer_InstallerEmailAddress"
                           id="Dealer_InstallerEmailAddress"
                           (blur)=" onCheckRequried($event,'valDealer_InstallerEmailAddress_Required');
                                    onCheckMaxLength($event,'valDealer_InstallerEmailAddress_MaxLength',50);
                                    onCheckEmail($event,'valDealer_InstallerEmailAddress_Email')"
                           style="height: 30px;" tabindex=22 />
                    <strong class="text-danger" id="valDealer_InstallerEmailAddress_Required" style="display:none;">{{ asError_Required }}</strong>
                    <strong class="text-danger" id="valDealer_InstallerEmailAddress_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>
                    <strong class="text-danger" id="valDealer_InstallerEmailAddress_Email" style="display:none;">{{ asError_Email }}</strong>

                  </div>

                </div>

                <div class="col-md-3">

                  <div class="col-md-12" style="margin-top:-1px;">

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;">HVAC License</label>
                    <input type="text" class="form-control" [(ngModel)]="_Dealer_HVACLicense"
                           id="Dealer_HVACLicense"
                           (blur)=" onCheckRequried($event,'valDealer_HVACLicense_Required');
                                    onCheckMaxLength($event,'valDealer_HVACLicense_MaxLength',50)"
                           style="height: 30px;" tabindex=21 />
                    <strong class="text-danger" id="valDealer_HVACLicense_Required" style="display:none;">{{ asError_Required }}</strong>
                    <strong class="text-danger" id="valDealer_HVACLicense_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>


                  </div>

                  <div class="col-md-12" style="margin-top:-4px;">

                    <br />

                    <label class="control-label col-md-10"
                           style="font-weight: lighter; font-size: 14px; font-family: Arial;">Installer Phone</label>
                    <input type="text" class="form-control" [(ngModel)]="_Dealer_InstallerPhone"
                           id="Dealer_InstallerPhone"
                           (blur)=" onCheckRequried($event,'valDealer_InstallerPhone_Required');
                                    onCheckMaxLength($event,'valDealer_InstallerPhone_MaxLength',20)"
                           style="height: 30px;" tabindex=23 />
                    <!-- onCheckPhone($event,'valDealer_InstallerPhone_Format') -->
                    <strong class="text-danger" id="valDealer_InstallerPhone_Required" style="display:none;">{{ asError_Required }}</strong>
                    <strong class="text-danger" id="valDealer_InstallerPhone_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>
                    <strong class="text-danger" id="valDealer_InstallerPhone_Format" style="display:none;">{{ asError_Phone }}</strong>

                  </div>

                </div>

              </div>

              <br />

              <!-- BOTON ENVIAR -->
              <div class="row justify-content-md-start">

                <div class="col-md-5" style="padding-left:30px">

                  <br />
                  <button type="button" class="btn btn-primary" (click)="btnEnviar_OnClick()" tabindex=24>
                    <i class="fa fa-save"></i> Submit Information
                  </button>

                </div>

              </div>

              <br />

              <!-- LINK RE-ENVIAR -->
              @if( IsExistCertificate ) {

                <div class="row justify-content-md-start">
                  <div style="padding-left: 30px" tabindex=25>

                    <br />

                    <a href="#" (click)="ShowResendView(true); $event.preventDefault();">Resend Guarantee Policy</a>

                  </div>
                </div>

              }

            </div>

          </div>

        }

        <!-- CONTENEDOR #02: REENVIO CERTIFICADO DE GARANTIA -->
        @if( IsResendCertificate ) {

          <div class="container form-group" style="padding-left: 10px; color:black; font-family:Helvetica;">

            <br />
            <br />

            <div class="form-group" style="padding-left:10px">

              <dl class="dl-horizontal" style="padding-left:10px">

                <dt>
                  Outdoor Unit Serial Number
                </dt>

                <dd>
                  {{ _OutdoorUnitSerialNumber }}
                </dd>

                <dt>
                  Indoor Unit Serial Number
                </dt>

                <dd>

                  @if( _TipoDescripcion == 'MiniSplit' || _TipoDescripcion == 'Alpha' ){

                    {{ _IndoorUnitSerialNumber }}

                  }

                  @if( _TipoDescripcion == 'Multizone' ){

                    @if( _MultiZoneIndoor_1 != '' ){ {{ _MultiZoneIndoor_1 }} <br /> }
                    @if( _MultiZoneIndoor_2 != '' ){ {{ _MultiZoneIndoor_2 }} <br /> }
                    @if( _MultiZoneIndoor_3 != '' ){ {{ _MultiZoneIndoor_3 }} <br /> }
                    @if( _MultiZoneIndoor_4 != '' ){ {{ _MultiZoneIndoor_4 }} <br /> }
                    @if( _MultiZoneIndoor_5 != '' ){ {{ _MultiZoneIndoor_5 }} <br /> }

                  }

                </dd>

                <dt>
                  First Name
                </dt>

                <dd>
                  {{ _Customer_FirstName }} {{ _Customer_LastName }}
                </dd>

                <dt>
                  Email Address
                </dt>

                <dd>

                  <br />
                  <input type="text" class="form-control" [(ngModel)]="_Resend_EmailResend"
                         id="Resend_EmailResend" placeholder="Email to Resend"
                         (blur)=" onCheckRequried($event,'valResend_EmailResend_Required');
                                  onCheckMaxLength($event,'valResend_EmailResend_MaxLength',50);
                                  onCheckEmail($event,'valResend_EmailResend_Email')"
                         style="height: 30px;" tabindex=21 />
                  <strong class="text-danger" id="valResend_EmailResend_Required" style="display:none;">{{ asError_Required }}</strong>
                  <strong class="text-danger" id="valResend_EmailResend_MaxLength" style="display:none;">{{ asError_MaxLength }}</strong>
                  <strong class="text-danger" id="valResend_EmailResend_Email" style="display:none;">{{ asError_Email }}</strong>

                  <br />
                  <br />
                  <br />

                  <button id="btnReenviar" type="button" class="btn btn-primary"
                          (click)="btnReenviar_OnClick()">
                    <i class="fa fa-save"></i> Resend
                  </button>

                  <br />
                  <br />

                  <!-- LINK RE-ENVIAR -->
                  <div class="row justify-content-md-start">
                    <div style="padding-left: 30px" id="divReenviar" tabindex=25>

                      <a href="#" (click)="ShowResendView(false); $event.preventDefault();">Back</a>

                    </div>
                  </div>

                </dd>

              </dl>

            </div>

            <br />
            <br />

          </div>

        }

      </div>

  </div>
</div>
  </div>
