@font-face {
  font-family: Helvetica;
}

.textofont {
  font-family: Helvetica;
}

select {
  /*webkit browsers */
  -webkit-appearance: auto;
  /*Firefox */
  -moz-appearance: auto;
  /* modern browsers */
  appearance: auto;
  border-radius: 0;
}
