<!-- SECCION: FILTROS -->
<div style="background-color: #bcbec0;">
  <mat-card style="background-color:#e6e7e8;">

    <!-- PANEL HEADER: HEADER CON TITULO DE SECCION Y BOTON PARA CERRAR VENTANA -->
    <mat-card-header style="font-size:16px; opacity:1;">

      <div class="row" style="width:100%;">

        <div class="col">

          <i style="color:#414042;" class="fa fa-user w3-large">
            </i>&nbsp;<strong style="color:#414042;">User</strong>

        </div>

        <div class="col"></div>

        <div class="col" style="text-align:right;">

          <!-- BOTON: CERRAR VENTANA -->
          <button mat-mini-fab
                  style="width: 32px; height: 32px;
                         margin-top: -10px; margin-right: -30px;
                         background-color:#ad1a1a;"
                  matTooltip="Close window"
                  (click)="Close();">
            <i class="fa fa-close w3-small" style="color:white;"></i>
          </button>

        </div>

      </div>

    </mat-card-header>

    <br />

    <mat-card-content>

      <div class="row">
        <div class="col">

          <mat-tab-group [backgroundColor]="'accent'" [color]="'warn'" >

            <!-- SECCION: USER INFO -->
            <mat-tab label="User Info">

              <div class="row" style="width:620px;">
                <div class="col" style="height:361px;">

                  <table>

                    <tr><td><br /></td></tr>

                    <!-- CAMPOS: DATOS DE LA VENTANA -->
                    <tr>

                      <!-- COLUMNA #01 -->
                      <td>

                        <table>

                          <!--
                          <tr><td><strong>First Name </strong></td><td><mat-form-field appearance="fill" style="margin-top: 20px; height: 50px; font-size: 13px; "
                                                                                      class="dense-5 example-full-width">
                                                                        <input matInput placeholder="1234" [(ngModel)] ="_FirstName" [disabled]="!_IsEnabledFields"
                                                                                style="margin-top:15px;">
                                                                      </mat-form-field>
                                                                </td>
                          </tr>
                          -->

                          <tr><td><i class="fa fa-id-card-o"></i>&nbsp;<strong>User Id </strong></td>          <td><input class="form-control" value="00{{ _UserId }}" disabled /></td></tr>
                          <br />
                          <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>First Name </strong></td>       <td><input class="form-control" [(ngModel)]="_FirstName" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />
                          <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>Last Name </strong></td>        <td><input class="form-control" [(ngModel)]="_LastName" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />
                          <!--<tr><td><i class="fa fa-edit"></i>&nbsp;<strong>GP User </strong></td>          <td><input [(ngModel)]="_GPUser" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />
                          <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>GP Sales Person ID</strong></td><td><input [(ngModel)]="_GPSLPRSNID" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />-->
                          <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>Email</strong></td>             <td><input class="form-control" [(ngModel)]="_Email" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />
                          <tr><td><i class="fa fa-edit"></i>&nbsp;<strong>Telephone </strong></td>        <td><input class="form-control" [(ngModel)]="_Telephone" [disabled]="!_IsEnabledFields" /></td></tr>
                          <br />
                          <tr><td></td><td></td></tr>
                          <br />
                          <tr><td></td><td></td></tr>
                          <br />

                        </table>

                      </td>

                      <!-- COLUMNA #02 -->
                      <td valign="top">

                        <div class="row" style="margin-left:20px;">

                          <div class="col">
                            <i class="	fa fa-bullseye"></i>&nbsp;<strong>Status </strong>
                          </div>

                          <div class="col">
                            <input class="form-control" [(ngModel)]="_Status" disabled />
                          </div>

                          <div class="col"></div>


                        </div>

                        <!-- BOTONES: GUARDAR DATOS, LIMPIAR CAMPOS -->
                        <div class="row" style="margin-left:50px; margin-top:245px;">

                          <!-- BOTON: GUARDAR DATOS -->
                          <button mat-flat-button
                                  style="margin-right: 10px; width: 100px;
                                         background-color:#ad1a1a;"
                                  matTooltip="Save Data"
                                  disabled="{{ !_IsBtnGuardar }}"
                                  (click)="BtnGuardar_OnClick( 0 );">
                            <i class="fa fa-save"></i> Save
                          </button>

                          <!-- BOTON: LIMPIAR CAMPOS -->
                          <button mat-flat-button
                                  style="margin-right: -60px; width: 100px;
                                         background-color:#bcbec0;
                                         color:#414042;"
                                  matTooltip="Clear Fields"
                                  disabled="{{ !_IsBtnLimpiar }}"
                                  (click)="BtnLimpiar_OnClick( 0 );">
                            <i class="fa fa-eraser"></i> Clear
                          </button>

                        </div>

                      </td>

                    </tr>

                  </table>

                </div>
              </div>

            </mat-tab>

            <!-- SECCION: ROLES y LOCATION -->
            <mat-tab label="Roles and Locations">

              <!-- CAMPOS: DATOS DE LA VENTANA -->
              <div class="row" style="width:620px;">
                <div class="col" style="height:340px;">

                  <!-- COLUMNAS #01: ROLES / LOCATIONS -->
                  <div class="row">

                    <!-- COLUMNA #01: ROLES -->
                    <div class="col">

                      <div class="row" style="text-align: center;">

                        <strong style="font-size:15px;"><br /><i class="fa fa-address-book"></i>&nbsp;Roles</strong>

                      </div>

                      <div class="row">

                        <div class="col" style="overflow-y: scroll; height:250px;">

                          <!-- COLUMNA #01: ROLES -->
                          <table>
                            <tr>

                              <td valign="top">

                                <table style="color:black;">

                                  @for ( actualRow of dtRoles; track actualRow ){

                                  <mat-checkbox class="example-margin"
                                                color="warn"
                                                [disabled]="!_IsEnabledFields"
                                                (change)="chkRoles_OnChange($event, actualRow.RES_ROL)"
                                                [checked]="( actualRow.RES_ACTIVO == 1 ? true : false )">

                                    
                                    <strong style="color:black; opacity:0.75; font-size:14px;">{{ actualRow.RES_ROL }}</strong>


                                  </mat-checkbox>
                                      <br />

                                  }

                                </table>

                              </td>

                            </tr>
                          </table>

                        </div>
                          
                      </div>

                      </div>

                    <!-- COLUMNA #02: LOCATIONS -->
                    <div class="col">

                      <div class="row" style="text-align:center;">

                        <strong style="font-size:15px;"><br /><i class="fa fa-cube"></i>&nbsp;Locations</strong>

                      </div>

                      <div class="row">

                        <div class="col" style="overflow-y: scroll; height:180px;">

                          <!-- COLUMNA #02: LOCATIONS -->
                          <table>
                            <tr>

                              <td valign="top">

                                <table>

                                  @for ( actualRow of dtLocations; track actualRow ){

                                  <mat-checkbox class="example-margin"
                                                color="warn"
                                                [disabled]="!_IsEnabledFields"
                                                (change)="chkLocations_OnChange($event, actualRow.RES_LOCATION)"
                                                [checked]=" ( actualRow.RES_ACTIVO == 1 ? true : false )">

                                    <strong style="color:black; opacity:0.75; font-size:14px;">{{ actualRow.RES_DESCRIPTION }}</strong>

                                  </mat-checkbox>
                                      <br />

                                  }

                                </table>

                              </td>

                            </tr>
                          </table>

                        </div>

                      </div>

                    </div>

                  </div>

                  <!-- BOTONES: GUARDAR DATOS, LIMPIAR CAMPOS -->
                  <div class="row" style="margin-left:350px;">

                    <!-- BOTON: GUARDAR DATOS -->
                    <button mat-flat-button
                            style="margin-right: 10px; width: 100px;
                                   background-color:#ad1a1a;"
                            matTooltip="Save Data"
                            disabled="{{ !_IsBtnGuardar }}"
                            (click)="BtnGuardar_OnClick( 1 );">
                      <i class="fa fa-save"></i> Save
                    </button>

                    <!-- BOTON: LIMPIAR CAMPOS -->
                    <button mat-flat-button
                            style="margin-right: -60px; width: 100px;
                                   background-color:#bcbec0;
                                   color:#414042;"
                            matTooltip="Clear Fields"
                            disabled="{{ !_IsBtnLimpiar }}"
                            (click)="BtnLimpiar_OnClick( 1 );">
                      <i class="fa fa-eraser"></i> Clear
                    </button>

                  </div>

                </div>
              </div>
              
            </mat-tab>

          </mat-tab-group>         

        </div>
      </div>

    </mat-card-content>


  </mat-card>
</div>
