mat-card {
  background-color: #e6e7e8;
  border-radius: 15px;
}

table {
  width: 100%;
  background-color: white;
  text-align: center;
}

.filters-card {
  background-color: dimgray;
}

mat-paginator {
  background-color: cornflowerblue;
}

input.mat-input-element {
  padding-bottom: 2px;
  font-size: 12px;
}

.example-full-width {
  width: 40%;
  height: 80%;
}

.TitleSize {
  font-size: 15px;
}

.TitleContentSize {
  font-size: 15px;
}

.TitleSizeTable {
  font-size: 15px;
}

.busqueda {
  transform: scale(.70);
  width: 500px;
  margin-left: -60px;
  top: 51px;
  z-index: 1;
  position: absolute;
}
