<!-- SECCION: HEADER / AGREGAR -->
<mat-card style="color:black;">

  <!-- PANEL HEADER: HEADER CON TITULO DE SECCION -->
  <mat-card-header style="font-size:16px; opacity:0.6;">
    <i class="fa fa-plus"></i>&nbsp;<strong>Add New Authorizer</strong>
  </mat-card-header>

  <br />

  <!-- PANEL: AGREGAR -->
  <mat-card-content>

    <div class="row">
      <div class="col" style="margin-top:-25px; margin-left:10px;">

        <!-- COMBOBOXes: LOCATION, USUARIO -->
        <div class="row">
          <div class="col">

            <div class="row">

              <!-- COMBOBOX: LOCATION ( se solicito quitarlo ) -->
              <!--
                <div class="col" style="width:200px;">

                  <div class="row">
                    <strong style="margin-left: 40px; margin-top: 20px; font-size: 16px; opacity: 0.7; ">Location:</strong>
                  </div>

                  <div class="row">

                    <mat-form-field style="margin-left: -20px; transform: scale(.75); width: 500px;"
                                    color="warn">
                      <mat-label>Select a Location</mat-label>
                      <mat-select required [(value)]="_Location" (selectionChange)="cbxLocations_OnChange()">

                        @for ( actualRow of dtLocations; track actualRow ){

                          <mat-option [value]="actualRow.RES_LOCATION_ID">{{ actualRow.RES_DESCRIPCION }}</mat-option>

                        }

                      </mat-select>
                    </mat-form-field>

                  </div>

                </div>
              -->

              <!-- COMBOBOX: USUARIO ( se solicito cambiar tipo de combobox
                                       se dejo codigo original comentareado ) -->
              <!--
              <div class="col">

                <div class="row">
                  <strong style="margin-top: 20px; font-size:16px; opacity:0.7;">User:</strong>
                </div>

                <div class="row">

                  <div class="col">

                    <mat-form-field style="margin-left: -60px; transform: scale(.75); width: 500px;"
                                    color="warn">
                      <mat-label>Select an User</mat-label>
                      <mat-select required [(value)]="_User">

                        @for ( actualRow of dtUsers; track actualRow ){

                        <mat-option [value]="actualRow.RES_USER_ID">{{ actualRow.RES_DESCRIPCION }}</mat-option>

                        }

                      </mat-select>
                    </mat-form-field>

                  </div>

                  <div class="col" style="margin-top:30px;">


                  </div>

                </div>

              </div>
              -->

              <!-- COMBOBOX: USUARIO -->
              <div class="col">

                <div class="row">
                  <strong style="margin-top: 20px; margin-left: 5px; font-size:16px; opacity:0.7;">User:</strong>
                </div>

                <div class="row">

                  <div class="col">

                    <select class="form-control valid" [(ngModel)]="_User"
                            style="width: 350px; margin-top: 10px;">

                      <option value="0" selected>Select one</option>

                      @for ( actualRow of dtUsers; track actualRow ){

                        <option [value]="actualRow.RES_USER_ID">{{ actualRow.RES_DESCRIPCION }}</option>

                      }

                    </select>

                  </div>

                </div>

              </div>

              <!-- BUTTONS: AGREGAR AUTHORIZER, LIMPIAR CAMPOS-->
              <div class="col-4">
                <div class="row">

                  <div class="col-1">

                    <!-- BOTON: AGREGAR AUTHORIZER -->
                    <button mat-flat-button
                            (click)="btnAdd_Click();"
                            style="width: 120px; margin-top:47px;
                                   background-color:#AD1A1A;
                                   border-radius:20px;"
                            matTooltip="Add New Authorizer">

                      <i class="fa fa-plus"></i>&nbsp;Add

                    </button>

                  </div>

                  <div class="col-1">

                    <!-- BOTON: LIMPIAR CAMPOS -->
                    <button mat-flat-button
                            style="width: 120px; margin-top: 47px;
                                   margin-left:120px;
                                   background-color:#bcbec0;
                                   border-radius:20px;
                                   color:#414042;"
                            matTooltip="Clear Fields"
                            (click)="BtnLimpiar_OnClick();">

                      <i class="fa fa-eraser"></i> Clear

                    </button>

                  </div>                  

                </div>
              </div>
              
              <div class="col"></div>
              <div class="col"></div>
              <div class="col"></div>

            </div>

          </div>
        </div>

      </div>
    </div>

  </mat-card-content>

</mat-card>

<br />

<!-- SECCION: TABLA AUTHORIZERS -->
<mat-card style="color:black;">

  <!-- PANEL HEADER: HEADER CON TITULO DE SECCION -->
  <mat-card-header style="font-size:16px; opacity:0.6;">

    <div class="row" style="width:100%;">

      <div class="col">

        <i class="fa fa-search"></i>&nbsp;<strong>Authorizers</strong>

      </div>

      <div class="col"></div>

      <div class="col" style="text-align:right;">

      </div>

    </div>

  </mat-card-header>

  <br />

  <mat-card-content>

    <!-- INPUT / PAGINATOR -->
    <div class="row">

      <!-- INPUT: BUSQUEDA -->
      <div class="col busqueda">

        <!-- INPUT: BUSQUEDA -->
        <mat-form-field appearance="outline" style="width:600px; margin-top:2px;">
          <input matInput style="  transform: scale(1.5);
                                      font-size: 16px;
                                      margin-left: 140px;"
                 placeholder="Type to Search {{ _BusquedaPlaceHolder }}"
                 [(ngModel)]="_Busqueda"
                 (input)="txtBuscar_OnKeyDown()" />
        </mat-form-field>

      </div>

      <!-- PAGINATOR: LISTA DE USUARIOS DIVIDIDA EN PAGINAS -->
      <div class="col">

        <!-- PAGINATOR: LISTA DE USUARIOS DIVIDIDA EN PAGINAS -->
        <mat-paginator #paginator
                       [pageSize]="aiPageSize"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true"
                       [length]="aiTotalSize"
                       [pageIndex]="aiCurrentPage"
                       (page)="matPage_Change($event)"
                       style="background:#AD1A1A">

        </mat-paginator>

      </div>

    </div>

    <!-- TABLE: TABLA AUTHORIZERS CON ORDENAMIENTOS matSort -->
    <div class="mat-elevation-z8 table-responsive">

      <table class="table table-striped hover" matSort (matSortChange)="SortingTable($event)">

        <!-- TABLE: COLUMNAS -->
        <thead>
          <tr style="text-align:left;">

            <th mat-sort-header="Id">
              <i class="fa fa-list-ul"></i>&nbsp;Id
            </th>

            <!--
              <th mat-sort-header="Location">
                <i class="fa fa-cube"></i>&nbsp;Location
              </th>
            -->

            <th mat-sort-header="User">
              <i class="fa fa-calculator"></i>&nbsp;User
            </th>

            <th mat-sort-header="CreationDate">
              <i class="fa fa-hashtag"></i>&nbsp;CreationDate
            </th>

            <th>
              <i class="fa fa-align-left"></i>&nbsp;Actions
            </th>

          </tr>
        </thead>

        <!-- TABLE: LISTADO DE AUTHORIZERS EN BD -->
        <tbody>

          <tr><mat-divider></mat-divider></tr>

          @for ( actualRow of dtDatos; track actualRow ){

          <tr style="text-align:left;">
            <td>{{ actualRow.RES_AUTHORIZE_ID }}</td>

            <!-- <td>{{ actualRow.RES_LOCATION }}</td> -->

            <td>{{ actualRow.RES_USER }}</td>
            <td>{{ actualRow.RES_CREATION_DATE }}</td>
            <td>

              <button mat-mini-fab
                      style="background-color: #AD1A1A;"
                      matTooltip="Delete Authorize"
                      (click)="BtnEliminar_OnClick(actualRow.RES_AUTHORIZE_ID);">
                <mat-icon [ngStyle]="{'color':'white'}" >delete</mat-icon>
              </button>

            </td>

          </tr>

          }

        </tbody>

      </table>

    </div>

    <!-- --------------------------------------- -->

  </mat-card-content>

</mat-card>

