
<!-- PANTALLA: PRINCIPAL -->
<mat-drawer-container class="sidenav-container">

  <!-- BARRA: MENUS ICONOS  -->
  <mat-drawer mode="side"
              opened #drawer
              (click)="abMenus = true;"
              style="background: white;">

    <!-- TOOLBAR  -->
    <mat-toolbar>
      <img src="../../../assets/logos/mirage_logo_solo.png" class="mirage_logo_solo" />
    </mat-toolbar>

    <!-- MENUS -->
    <mat-nav-list style="background:white;">
      <mat-accordion>

        @for(actualRow of dtMenus; track actualRow){

          @if(actualRow.RES_PARENT_ID == 0){

            <mat-list-item class="parent">
              <i class="{{ actualRow.RES_ICON }} w3-large"
                 style="margin-left: 5px; color: #808285;"></i>
            </mat-list-item>

          }

        }

        <!-- MENU: LOG OUT -->
        <mat-list-item class="parent">
          <i class="fa fa-sign-out w3-large" style="margin-left: 5px; color: #808285"></i>
        </mat-list-item>

      </mat-accordion>
    </mat-nav-list>

  </mat-drawer>

  @if ( abMenus ){ <!-- Variable de Angular para controlar show/hide de barra lateral de menus  -->

    <!-- BARRA: MENUS COMPLETO  -->
    <mat-drawer class="animacion-entrada-menus"
                opened mode="over"
                style="background: white;">

      <!-- TOOLBAR  -->
      <mat-toolbar color="warn">
        <img src="../../../assets/logos/mirage_logo_solo.png" class="mirage_logo_solo" />
        <p style="color: #414042; margin-top: 21px; ">&nbsp;HVAC Mirage</p>
      </mat-toolbar>

      <!-- MENUS -->
      <mat-nav-list style="background: white;">
        <mat-accordion style="background: white;">

          @for(actualRow of dtMenus; track actualRow){

            @if(actualRow.RES_PARENT_ID == 0){

              <mat-expansion-panel style="box-shadow: none; background: white;">

                <mat-expansion-panel-header style="margin-left:-8px;">
                  <mat-panel-title style="color: black;"><i class="{{ actualRow.RES_ICON }} w3-large" style="margin-left: 5px; color: #808285; "></i>&nbsp;{{ actualRow.RES_MENU_NAME }} </mat-panel-title>
                </mat-expansion-panel-header>

                <!-- MENU: SUB-MENUS -->
                @for(actualSubRow of dtMenus; track actualSubRow){

                  @if(actualSubRow.RES_PARENT_ID == actualRow.RES_ID){

                    <a mat-list-item
                       routerLink="/home/menu/{{ actualSubRow.RES_URL }}"
                       (click)="CheckSelectedRoute(actualRow.RES_MENU_NAME, actualSubRow.RES_MENU_NAME, actualSubRow.RES_ICON, true);">
                      <i class="{{ actualSubRow.RES_ICON }}" style="color: #808285; "></i>
                      <span style="padding-top: 11px; color: black;">&nbsp;{{ actualSubRow.RES_MENU_NAME }}</span>
                    </a>

                  }

                }

              </mat-expansion-panel>

            }

          }

          <!-- MENU: LOG OUT -->
          <a mat-list-item
             (click)="btnMenu_click('logout')"
             class="sidenav__list-item list-sub-item">
            <i class="fa fa-sign-out w3-large" style="margin-left:5px; color: #757575; "></i>
            <span style="padding-top: 11px; color: #808285;">&nbsp;Log out</span>
          </a>

        </mat-accordion>
      </mat-nav-list>

    </mat-drawer>

  }

  <!-- SECCION: CONTENIDO PRINCIPAL -->
  <mat-drawer-content class="sidenav-container" (mouseover)="abMenus = false;">

    <div>

      <!-- TOOLBAR: TITULOS, BOTON DE USUARIO SEGUN EL RouterOutlet -->
      <mat-toolbar style="height: 150px; background: linear-gradient(to right, #AD1A1A, #802d24); ">

        <table style="width:100%;">

          <!-- TITULO VENTANA SELECCIONADA Y RUTA EN SITIO ACTUAL-->
          <tr>
            <td>
              <strong style="color:white; font-size: 24px;"><i class="{{ asMenuHijoIcono }} w3-xlarge" style="margin-left:5px;"></i> {{ asMenuHijoSeleccionado }} </strong>
              <p style="color:white; opacity:0.75; font-size:15px;"><i class="fa fa-home w3-large" style="margin-left:5px;"></i> Inicio > {{ asRutaSeleccionada }} </p>
            </td>

            <td></td>

            <td align="right">

              <!-- BOTON: USUARIO CON MENU DE OPCIONES -->
              <p style="color: white; opacity: 0.75; font-size: 12px; line-height: 15px; margin-top: -45px;">
              <i class="fa fa-user-circle-o w3-small" style="margin-left:5px;"></i> Welcome<br />{{ _Email }}
              </p>
              <button mat-fab
                      [matMenuTriggerFor]="menu"
                      color="basic"
                      matTooltip="User Options"
                      style="width: 50px; height: 50px; background-color: #414042;">
                <mat-icon>person</mat-icon>
              </button>
              <mat-menu #menu="matMenu">

                <!--
                  <p mat-menu-item>
                    <mat-icon style="margin-left:5px;">person</mat-icon>
                    <span style="padding-top: 11px;">&nbsp;{{ _Email }} </span>
                  </p>
                -->

                <button mat-menu-item
                        (click)="btnMenu_click('user')">
                  <mat-icon style="margin-left:5px;">person</mat-icon>
                  <span style="padding-top: 11px;">&nbsp;{{ _Email }}</span>
                </button>

                <mat-divider></mat-divider>

                <button mat-menu-item
                        (click)="btnResetPasword_OnCLick()">
                  <i class="fa fa-edit w3-large" style="margin-left:5px;"></i>
                  <span style="padding-top: 11px;">&nbsp;Change Password</span>
                </button>

                <button mat-menu-item
                        (click)="btnMenu_click('logout')">
                  <i class="fa fa-sign-out w3-large" style="margin-left:5px;"></i>
                  <span style="padding-top: 11px;">&nbsp;Log Out</span>
                </button>

              </mat-menu>
              <!-- ---------------------------------- -->

            </td>

          </tr>

        </table>

      </mat-toolbar>

      <!-- PANTALLA: LA CARGADA EN EL RouterOutlet -->
      <div style="width:95%; margin-left:2%; margin-top:-2%;">

        <div class="row">
          <div class="col">

            <!-- MAT-CARD PARA ALBERGAR PANTALLA CARGADA, MEJORA PARA EL DISENIO -->
            <mat-card>
              <mat-card-content>

                <router-outlet></router-outlet>

              </mat-card-content>
            </mat-card>

          </div>
        </div>

      </div>

    </div>

  </mat-drawer-content>

</mat-drawer-container>
