<style>
  .duventus-logo {
    max-width: 100%;
    height: auto;
    width: 300px;
  }
  @media (max-width: 768px) {
      .duventus-logo {
        width: 200px;
      }
  }
  @media (max-width: 576px) {
    .duventus-logo {
      width: 150px;
    }
  }

</style>
<div class="d-flex justify-content-center align-items min-vh-100">
  <div
    class="container p-4 bg-light rounded shadow"
    style="max-width: 1100px; width: 100%; margin-top: 20px; margin-bottom: 20px;">

    <div class="bg-white p-3 mb-4 rounded shadow-sm text-center">
      <img src="https://cdn.prod.website-files.com/6518a52fadf2a346d37c5aa6/654537e3f837db189ede0155_Duventus%20logo.webp" alt="Logo de DuVentus" class="duventus-logo">
    </div>

    <app-employee></app-employee>

  </div>
</div>
