<!-- SECCION: FILTROS -->
<mat-card style="color:black;">

  <!-- PANEL HEADER: HEADER CON TITULO DE SECCION -->
  <mat-card-header style="font-size:16px; opacity:0.6;">
    <i class="fa fa-filter w3-large"></i>&nbsp;<strong>Filters</strong>
  </mat-card-header>

  <br />

  <!-- PANEL: BUSQUEDA -->
  <mat-card-content>

    <!-- PANEL: BUSQUEDA -->
    <div class="row" style="margin-top:-25px; margin-left:10px;">

      <!-- COMBOBOXes: LOCATION, USUARIO / INPUT: ITEMNUMBER / BUTTON: BUSCAR -->
      <div class="row">
        <div class="col">

          <div class="row">

            <!-- COMBOBOX: LOCATION -->
            <div class="col">

              <div class="row">
                <strong style="margin-top: 20px; margin-left: 5px; font-size:16px; opacity:0.7;">Location:</strong>
              </div>

              <div class="row">

                <div class="col">

                  <select class="form-control valid" [(ngModel)]="_Location"
                          (change)="cbxOnChange()"
                          style="width: 350px; margin-top: 10px;">

                    @for ( actualRow of dtLocations; track actualRow ){

                      <option [value]="actualRow.RES_CODE">{{ actualRow.RES_NAME }}</option>

                    }

                  </select>

                  <!--
                    <mat-form-field style="margin-left: -60px; transform: scale(.75); width: 500px;"
                                    color="warn">
                      <mat-label>Select a Location</mat-label>
                      <mat-select required [(value)]="_Location" (selectionChange)="cbxOnChange()">

                        @for ( actualRow of dtLocations; track actualRow ){

                        <mat-option [value]="actualRow.RES_CODE">{{actualRow.RES_NAME }}</mat-option>

                        }

                      </mat-select>
                    </mat-form-field>
                  -->

                </div>

              </div>

            </div>

            <!-- COMBOBOX: Type -->
            <div class="col">

              <div class="row">
                <strong style="margin-top: 20px; margin-left: 5px; font-size:16px; opacity:0.7;">Type:</strong>
              </div>

              <div class="row">

                <div class="col">

                  <select class="form-control valid" [(ngModel)]="_Type"
                          (change)="cbxOnChange()"
                          style="width: 350px; margin-top: 10px;">

                    @for ( actualRow of dtTypes; track actualRow ){

                      <option [value]="actualRow.RES_CODE">{{ actualRow.RES_NAME }}</option>

                    }

                  </select>

                  <!--
                    <mat-form-field style="margin-left: -60px; transform: scale(.75); width: 500px;"
                                    color="warn">
                      <mat-label>Select a Type</mat-label>
                      <mat-select required [(value)]="_Type" (selectionChange)="cbxOnChange()">

                        @for ( actualRow of dtTypes; track actualRow ){

                        <mat-option [value]="actualRow.RES_CODE">{{actualRow.RES_NAME }}</mat-option>

                        }

                      </mat-select>
                    </mat-form-field>
                  -->

                </div>

              </div>

            </div>

            <!-- INPUT: ITEMNUMBER -->
            <div class="col">

              <input type="text" class="form-control" [(ngModel)]="_ItemNumber"
                     (keypress)="txtSerialNumber_Enter($event)"
                     placeholder="Item Number"
                     style="width: 300px; height: 35px; margin-top: 48px;" />

            </div>

            <!-- BUTTON: BUSCAR -->
            <div class="col">

              <button mat-flat-button
                      (click)="btnSearch_Click();"
                      style="width:120px; margin-top:47px;
                             background-color: #ad1a1a;
                             border-radius:20px;">

                <i class="fa fa-search"></i>&nbsp;Search

              </button>

            </div>

            <div class="col"></div>
            <div class="col"></div>

          </div>

        </div>
      </div>

    </div>

  </mat-card-content>

</mat-card>

<br />

<!-- SECCION: TABLA INVENTORY -->
<mat-card style="color:black;">

  <!-- PANEL HEADER: HEADER CON TITULO DE SECCION -->
  <mat-card-header style="font-size:16px; opacity:0.6;">

    <div class="row" style="width:100%;">

      <div class="col">

        <i class="fa fa-search"></i>&nbsp;<strong>Inventory</strong>

      </div>

      <div class="col"></div>

      <div class="col" style="text-align:right;">

      </div>

    </div>

  </mat-card-header>

  <br />

  <mat-card-content>

    <!-- INPUT / PAGINATOR -->
    <div class="row">

      <!-- INPUT: BUSQUEDA -->
      <div class="col busqueda">

        <!-- INPUT: BUSQUEDA -->
        <mat-form-field appearance="outline" style="width:600px; margin-top:2px;">
          <input matInput style="  transform: scale(1.5);
                                      font-size: 16px;
                                      margin-left: 140px;"
                 placeholder="Type to Search {{ _BusquedaPlaceHolder }}"
                 [(ngModel)]="_Busqueda"
                 (input)="txtBuscar_OnKeyDown()" />
        </mat-form-field>

      </div>

      <!-- PAGINATOR: LISTA DE USUARIOS DIVIDIDA EN PAGINAS -->
      <div class="col">

        <!-- PAGINATOR: LISTA DE USUARIOS DIVIDIDA EN PAGINAS -->
        <mat-paginator #paginator
                       [pageSize]="aiPageSize"
                       [pageSizeOptions]="[5, 10, 20]"
                       [showFirstLastButtons]="true"
                       [length]="aiTotalSize"
                       [pageIndex]="aiCurrentPage"
                       (page)="matPage_Change($event)"
                       style="background:#AD1A1A">

        </mat-paginator>

      </div>

    </div>

    <!-- TABLE: TABLA INVENTORY CON ORDENAMIENTOS matSort -->
    <div class="mat-elevation-z8 table-responsive">

      <table class="table table-striped hover" matSort (matSortChange)="SortingTable($event)" id="@table_name">

        <!-- TABLE: COLUMNAS -->
        <thead>
          <tr style="text-align:left;">

            <th mat-sort-header="Model">
              <i class="fa fa-cube"></i>&nbsp;Model
            </th>

            <th mat-sort-header="Category">
              <i class="fa fa-list-ul"></i>&nbsp;Description
            </th>

            <th mat-sort-header="Quantity">
              <i class="fa fa-calculator"></i>&nbsp;Quantity
            </th>

            <th mat-sort-header="Damaged">
              <i class="fa fa-hashtag"></i>&nbsp;Damaged
            </th>

            <th mat-sort-header="DamagedByDealer">
              <i class="fa fa-align-left"></i>&nbsp;Damaged By Dealer
            </th>

            <th mat-sort-header="DamagedByHit">
              <i class="fa fa-align-left"></i>&nbsp;Damaged By Hit
            </th>

            <th mat-sort-header="InPicking">
              <i class="fa fa-align-left"></i>&nbsp;In Picking
            </th>

            <th mat-sort-header="InTransfer">
              <i class="fa fa-align-left"></i>&nbsp;In Transfer
            </th>

          </tr>
        </thead>

        <!-- TABLE: LISTADO DE INVENTORY EN BD -->
        <tbody>

          <!-- <tr><mat-divider></mat-divider></tr> -->
          @for ( actualRow of dtDatos; track actualRow ){

            @if ( actualRow.RES_GRUPONIVEL == 1 ){

              <tr style="text-align:left;">

                <td colspan="8" style="background: #d6d6d6; color: #6b6f82"><strong>{{ actualRow.RES_WAREHOUSE }}</strong></td>

              </tr>

            }

            @if ( actualRow.RES_GRUPONIVEL == 2 ){

              <tr style="text-align:left;">

                <th colspan="8" style="background:#eae9e9; color:#6b6f82">{{ actualRow.RES_FAMILIADIRECCION }}</th>

              </tr>

            }

            @if ( actualRow.RES_GRUPONIVEL == 0 ){

              <tr style="text-align:left;">

                <td>{{ actualRow.RES_CATEGORY }}</td>
                <td>{{ actualRow.RES_MODEL }}</td>
                <td>{{ actualRow.RES_QUANTITY }}</td>
                <td>{{ actualRow.RES_DAMAGED }}</td>
                <td>{{ actualRow.RES_DAMAGEDDIST }}</td>
                <td>{{ actualRow.RES_DAMAGEDHIT }}</td>
                <td>{{ actualRow.RES_INPICKING }}</td>
                <td>{{ actualRow.RES_INTRANSFER }}</td>

              </tr>

            }

          }

        </tbody>

      </table>

    </div>

    <!-- --------------------------------------- -->

  </mat-card-content>

</mat-card>

